.game-nav-cust {
  background-color: #EADEDA;
  border-bottom: rgba(255, 255, 255, 0.95) solid 3px;
  ;
}

.game-main-logo {
  font-size: 25px;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  border-bottom: #D90368 solid 3px;
}

.off-body-game-cust {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 0px 10px 20px;
}

.char-menu {
  background-color: #2E294E;
  height: 931px;
  width: 280px;
}

.char-list {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.steven-pic {
  margin-right: 5px;
}

.game-play {
  margin-top: 65px;
  background-color: #EADEDA;
  height: 831px;
  width: 100%;
}

.outer-circle {
  z-index: 200;
  position: absolute;
  border: #820263 solid 40px;
  height: 850px;
  width: 850px;
  margin: 12px 0px 0px 225px;
}

.inner-outer-circle {
  z-index: 300;
  position: absolute;
  border: #FFD400 solid 40px;
  height: 700px;
  width: 700px;
  margin: 150px auto 0px auto;
}

@media only screen and (max-width: 576px) {
  .offcanvas-backdrop.show {
    opacity: 0;
  }
  .char-menu {
    width: 700px;
    height: 500px;
  }
  .char-list {
    margin-left: auto;
    margin-right: auto;
  }
  .outer-circle {
    height: 680px;
    width: 680px;
    margin-left: 5px;
    margin-top: 50px;
  }
}