.game-nav-cust {
  background-color: #EADEDA;
  border-bottom: rgba(255, 255, 255, 0.95) solid 3px;
  ;
}

.game-main-logo {
  font-size: 25px;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  border-bottom: #D90368 solid 3px;
}

.off-body-game-cust {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 0px 10px 20px;
}

.char-menu {
  background-color: #2E294E;
  height: 931px;
  width: 280px;
}

.char-list {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
}

.steven-pic {
  margin-right: 5px;
}

.game-play {
  margin-top: 65px;
  background-color: #EADEDA;
  height: 831px;
  width: 100%;
}

.outer-circle {
  z-index: 200;
  position: absolute;
  border: #820263 solid 40px;
  height: 850px;
  width: 850px;
  margin: 12px 0px 0px 225px;
}

.inner-outer-circle {
  z-index: 300;
  position: absolute;
  border: #FFD400 solid 40px;
  height: 700px;
  width: 700px;
  margin: 88px 0px 0px 299px;
}

.outer-inner-circle {
  z-index: 400;
  position: absolute;
  border: black solid 40px;
  height: 550px;
  width: 550px;
  margin: 163px 0px 0px 372px;
}

.inner-circle {
  z-index: 500;
  position: absolute;
  background-color: #D90368;
  height: 375px;
  width: 375px;
  margin: 254px 0px 0px 460px;
}

.pop-title {
  margin-right: 180px;
}

.middle-finger {
  margin-top: 200px;
  background-color: transparent;
  border: none;
}

@media only screen and (max-width: 576px) {
  .game-play {
    height: 550px;
    padding-left: 16px;
  }
  .offcanvas-backdrop.show {
    opacity: 0;
  }
  .char-menu {
    width: 100%;
    height: 580px;
  }
  .char-list {
    margin-left: auto;
    margin-right: auto;
  }
  .outer-circle {
    border: #820263 solid 20px;
    height: 370px;
    width: 370px;
    margin-left: 3px;
    margin-top: 20px;
  }
  .inner-outer-circle {
    border: #FFD400 solid 20px;
    height: 300px;
    width: 300px;
    margin-left: 38px;
    margin-top: 53px;
  }
  .outer-inner-circle {
    border: black solid 20px;
    height: 230px;
    width: 230px;
    margin-left: 72px;
    margin-top: 88px;
  }
  .inner-circle {
    background-color: #D90368;
    height: 150px;
    width: 150px;
    margin-left: 112px;
    margin-top: 125px;
  }
  .pop-title {
    margin-right: 40px;
  }
}