.game-nav-cust {
  background-color: #EADEDA;
  border-bottom: rgba(255, 255, 255, 0.95) solid 3px;
  ;
}

.game-main-logo {
  font-size: 25px;
  padding-top: 0px;
  margin-left: 10px;
  margin-right: 0px;
  border-bottom: #D90368 solid 3px;
}

.off-body-game-cust {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px 0px 10px 20px;
}

.character-menu {
  margin-top: 65px;
  background-color: #2E294E;
  height: 867px;
  width: 100%;
}

.game-play {
  margin-top: 65px;
  background-color: #EADEDA;
  height: 867px;
  width: 100%;
}

.character-pic {
  height: 200px;
  width: 200px;
  margin-left: 50px;
  margin-top: 40px;
}

@media only screen and (max-width: 576px) {
  .character-pic {
    height: 50px;
    width: 50px;
    margin-left: 13.5px;
    margin-top: 15px;
  }
}