body {
  background-color: #EADEDA;
  font-family: 'Oswald', sans-serif;
}

.navbar-cust-style {
  padding-left: 5px;
  padding-right: 5px;
  height: 100px;
  font-size: 18px;
}

.title {
  height: 650px;
}

.logo {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 60px;
  padding-top: 100px;
  border-bottom: #D90368 solid 10px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.middle-O {
  color: #D90368;
}

.description {
  font-size: 30px;
  padding-top: 20px;
}

.play-button {
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.6);
  background-color: #D90368;
  height: 45px;
  width: 110px;
  margin-left: 15px;
}

.first-link {
  margin-left: 25px;
}

.other-links {
  margin-left: 10px;
}

@media only screen and (max-width: 576px) {
  .nav-coll-cust {
    border: black solid 1px;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: 10px;
    padding: 10px 0px 10px 20px;
  }
  .logo {
    font-size: 38px;
    padding-top: 25px;
  }
  .description {
    font-size: 25px;
    padding: 20px 20px 0px 20px;
  }
  .first-link {
    margin-left: 0px;
  }
  .other-links {
    margin-left: 0px;
  }
}