* {

}

body {
  background-color: #EADEDA;
}

.navbar-cust-style {
  padding-left: 5px;
  padding-right: 5px;
  height: 150px;
}

.title {
  height: 650px;
}

.logo {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 60px;
  padding-top: 50px;
  border-bottom: #D90368 solid 10px;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.middle-O {
  color: #D90368;
}



@media only screen and (max-width: 576px) {
  .logo {
    font-size: 40px;
  }
}